{:db-spec "jdbc:sqlite:sample.db"
 :components {:logging {:start (com.brunobonacci.mulog/start-publisher! {:type :console})
                        :stop (this)}
              :server {:start (ring.adapter.jetty/run-jetty
                               (clip/ref :handler)
                               {:port 3000
                                :join? false})
                       :stop (.stop this)}
              :db {:start (todo-app.jdbc/make-jdbc-connection #ref [:db-spec])
                   :pre-start (todo-app.jdbc/perform-migrations #ref [:db-spec] "migrations")}
              :handler {:start (todo-app.core/handler {:db (clip/ref :db)})}}}