{:db-spec "jdbc:sqlite:sample.db"
 :components {:logging {:start simple-web.logging/start-console-logging!
                        :stop simple-web.logging/stop-logging!}
              :server {:start (ring.adapter.jetty9/run-jetty
                               (clip/ref :handler)
                               {:port 3000
                                :join? false})
                       :stop (.stop this)}
              :db {:start (todo-app.jdbc/make-jdbc-connection #ref [:db-spec])
                   :pre-start (todo-app.jdbc/perform-migrations! #ref [:db-spec] "migrations")}
              :handler {:start (todo-app.core/handler {:db (clip/ref :db)})}}}