{:system {:components {:logging {:start (com.brunobonacci.mulog/start-publisher! {:type :console})
                                 :stop (this)}
                       :server {:start (ring.adapter.jetty9/run-jetty
                                        (clip/ref :handler)
                                        {:port 3000
                                         :join? false})
                                :stop (.stop this)}
                       :handler {:start (simple-web.example-app/handler {})}}}}