{:system {:simple-web.logging/console {}
          :simple-web.example-app/handler {}
          :simple-web.server/server {:port 3000
                                     :handler #ig/ref :simple-web.example-app/handler}}}