{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha8"}
        simple-web/backend {:local/root "../../"}
        ; Hiccup syntax to HTML rendering
        dev.onionpancakes/chassis {:mvn/version "1.0.353"}
        ; HTML templating
        selmer/selmer {:mvn/version "1.12.59"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.5"}}}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                   :ns-default build}
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                                 no.nav.security/mock-oauth2-server {:mvn/version "2.1.2"}}
                    :main-opts ["-m" "kaocha.runner" "--config-file" "test/tests.edn"]}
           :outdated {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}
           :upgrade {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "antq.core" "--check-clojure-tools" "true" "--upgrade" "true"]}}}
